*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}
body{
	width:100vw;
	height: 100vh;
}
h2.title{
	text-align:center;
	margin:50px 0px;
}
table,th,td{
	border:1px solid black;
	border-collapse:collapse;	
}

#continent{
	display:flex;
}

div#continent div{
}

div#continent .nav{
	flex:2;
}
div#continent #continentCountries{
	flex:2;
}
#actions *,.nav *{
  margin:10px 5px;
}
#showCityCard{
	display:none;
}